section#about {
  display: grid;
  grid-template-areas:
    "title title image"
    "about about image"
    "songs songs songs";
  grid-template-columns: 1fr 1fr 1.25fr;
  padding: 2rem;
  gap: 1.5rem;
  color: var(--light-text-color);

  background-color: var(--primary-color);

  position: relative;
  overflow: hidden;
}

section#about > * {
  z-index: 3;
}

section#about::before,
section#about::after {
  content: "";
  position: absolute;
  height: calc(100vw / 2);
  max-height: 300px;
  aspect-ratio: 1 / 1;
  background: linear-gradient(var(--primary-color), var(--accent-color));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(5px);
  z-index: 1;
}
section#about::after {
  animation: blob1 infinite 30s ease;
}

section#about::before {
  animation: blob2 infinite 45s ease;
}

@keyframes blob1 {
  0%,
  100% {
    border-radius: 25% 75% 18% 82% / 55% 25% 75% 45%;
    top: 10%;
    left: 15%;
  }
  25% {
    border-radius: 53% 47% 55% 45% / 79% 85% 15% 21%;
    top: 30%;
    left: 25%;
  }
  50% {
    border-radius: 2% 98% 55% 45% / 70% 56% 44% 30%;
    top: 50%;
    left: 65%;
  }
  75% {
    border-radius: 53% 47% 55% 45% / 79% 85% 15% 21%;
    top: 30%;
    left: 75%;
  }
}
@keyframes blob2 {
  0%,
  100% {
    border-radius: 21% 72% 10% 75% / 55% 25% 75% 45%;
    top: 5%;
    left: 11%;
  }
  25% {
    border-radius: 53% 47% 55% 45% / 79% 85% 15% 21%;
    top: 90%;
    left: 25%;
  }
  50% {
    border-radius: 2% 98% 55% 45% / 70% 56% 44% 30%;
    top: 50%;
    left: 90%;
  }
  75% {
    border-radius: 52% 45% 51% 22% / 55% 85% 11% 21%;
    top: 32%;
    left: 79%;
  }
}

div.grid-title {
  grid-area: title;
}

div.grid-about {
  grid-area: about;

  color: white;
  text-align: justify;
  line-height: 1.25rem;
  margin-top: 1rem;
}
section#about > div.grid-about > p {
  margin-bottom: 0.5rem;
}
section#about > div.grid-about > p::first-letter {
  font-size: 2rem;
  font-weight: 900;
  margin-left: 0.75rem;
  line-height: 0;
}
section#about > div.grid-about > div.details-list {
  margin-top: 1rem;
  line-height: 1.15rem;
}

img.grid-image {
  grid-area: image;
  max-height: 300px;

  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;

  border: 5px solid black;
  border-left-width: 2px;
  border-right-width: 2px;
  box-shadow: 0 0 3px var(--light-text-color);
  border-radius: 1rem;
}

div.grid-songs {
  grid-area: songs;
}
div.grid-songs > h4 {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}
div.grid-songs > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0.5rem;
}
div.grid-songs > ul:hover > :not(li.list-items:hover) {
  opacity: 0.65;
}
div.grid-songs > ul > li.list-items {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  opacity: 1;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--light-text-color);
  box-shadow: 0 0 5px var(--primary-color);
  color: var(--dark-text-color);
  cursor: pointer;
  transition: all 300ms ease;
}
div.grid-songs > ul > li.list-items:hover {
  transform: scale(1.015);
  background-color: var(--light-text-color);
  box-shadow: 0 0 5px var(--light-text-color);
  color: var(--primary-color);
  opacity: 1;
}

@media only screen and (max-width: 780px) {
  section#about {
    grid-template-areas:
      "title"
      "image"
      "about"
      "songs";
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 700px) {
  div.grid-songs > ul {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 500px) {
  div.grid-songs > ul {
    grid-template-columns: 1fr;
  }
}
