div.music-content > div.card.animation {
  transform: translateY(200px);
  opacity: 0;
  transition: all 300ms ease;
}

div.music-content > div.card.animation.top {
  transform: translateY(-200px);
  opacity: 0;
}

div.music-content > div.card.animation.pace {
  transform: translateY(0);
  opacity: 1;
}
