footer#footer {
  background-color: var(--primary-color);
  padding: 2rem;
  padding-bottom: 0.5rem;
}
footer#footer > p.disclaimer {
  text-transform: uppercase;
  margin-top: 0.45rem;
  font-size: 0.75rem;
  color: var(--light-text-color);
  text-align: center;
}
footer#footer > h4 {
  text-align: center;
  color: var(--light-text-color);
  margin-top: 0.35rem;
  margin-bottom: 0.15rem;
  text-transform: uppercase;
  font-size: 0.85rem;
  border-bottom: 2px solid var(--light-text-color);
  width: max-content;
  margin-inline: auto;
}
div.line.orange {
  background-color: var(--primary-color);
}

div.social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

div.social-media > a.social-link {
  font-size: 1.5rem;
  color: white;
  transition: all 300ms ease;
}

div.social-media > a.social-link:hover {
  color: var(--accent-color);
  transform: scale(1.1);
}
