section#home {
  background-image: url(../img/jfla.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 90vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
}

section#home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(238, 11, 11, 0.1);
  backdrop-filter: blur(5px);
  z-index: 1;
}

section#home > div.image-container {
  display: flex;
  justify-content: center;
  gap: 0.5rem;

  z-index: 98;
}

section#home > div.image-container > * {
  height: calc(100vw / 3.25);
  max-height: 300px;
  min-height: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 5px solid var(--light-text-color);
  background: var(--primary-color);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}
section#home > div.image-container:nth-child(2) {
  font-size: calc(100vw / 9);
}

section#home > div.image-container > div.jfla-voice {
  position: relative;
  z-index: 3;
  cursor: pointer;
}
section#home > div.image-container > div.jfla-voice > i {
  position: relative;
}
section#home > div.image-container > div.jfla-voice > video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: 0 0;
  border-radius: 50%;
}
section#home > div.image-container > div.jfla-voice > i::after {
  content: "PLAY CLIP";
  position: absolute;
  top: 0;
  left: 0;
  height: 120%;
  width: 120%;
  font-size: calc(100vw / 20);
  transform: translate(-10%, -10%);
  background-color: var(--primary-color);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: all 300ms ease;
}
section#home > div.image-container > div.jfla-voice:hover > i::after {
  opacity: 1;
}
section#home > div.image-container > div.jfla-voice:hover::after {
  height: 115%;
  width: 115%;
  box-shadow: inset 0 0 3px var(--accent-color), 0 0 3px var(--accent-color);
  border-left: 5px solid var(--light-text-color);
  border-right: 5px solid var(--light-text-color);

  animation: rotating 6s ease-in infinite reverse;
}
section#home > div.image-container > div.jfla-voice:hover::before {
  height: 130%;
  width: 130%;
  box-shadow: inset 0 0 3px var(--accent-color), 0 0 3px var(--accent-color);
  border-top: 5px solid var(--light-text-color);
  border-bottom: 5px solid var(--light-text-color);

  animation: rotating 5s ease-in infinite;
}

@keyframes rotating {
  0% {
    transform: rotate(360deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

section#home > div.image-container > div.jfla-voice::before,
section#home > div.image-container > div.jfla-voice::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border-radius: 50%;
  z-index: 1;
  transition: all 300ms ease;
}

@media only screen and (max-width: 625px) {
  section#home > div.image-container {
    flex-direction: column;
  }
  section#home {
    height: auto;
    padding: 2rem;
    overflow: hidden;
  }
}
